* {
    box-sizing:border-box;
    /* border:1px solid red; */
}

.copyright{
    justify-content: center;
    text-align: center;
    margin-right: 40px;
    margin-left: auto;
    margin-top: auto;
}